<div class="create-form">
    <h3>New Contact</h3>

    <form [formGroup]="createContactForm" (ngSubmit)="onSubmit(createContactForm.value)">

        <label>Name:</label>
        <input id="name" formControlName="name" placeholder="name" />

        <label>Numbers:<i (click)="addInput()" id="add-number" class="material-icons">add_circle_outline</i></label>
        <div formGroupName="phoneBook">
            <input type="number" formControlName="houseNumber" placeholder="home number"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="number" maxlength="10" />

            <div *ngIf="numInputs > 0">
                <input type="number" formControlName="mobileNumber" placeholder="mobile number" maxlength="10"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    type="number" maxlength="10">
                <i (click)="removeInput()" id="remove-number" class="material-icons">remove_circle_outline</i>
            </div>
        </div>


        <label>E-Mail:</label>
        <input id="email" formControlName="email" placeholder="example@gmail.com" />

        <label></label>
        <input type="submit" value="Submit" [disabled]="createContactForm.invalid" />

    </form>

</div>