:host {
    padding: 10% 0;
    width: 100%;
}
/* Submit Button */

input[type=submit] {
    margin-top: 1.4vw;
    background-color: #1976d2;
}



.contact-form form {
    width: 90%;
}

 /* Add Number Button */
#add-number {
    cursor: pointer;
    color: rgb(48, 206, 48);
}

/* Remove Number Button */
#remove-number {
    cursor: pointer;
    color: red;
}

/* Input Boxes */
input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    margin-bottom: 15px;
}