<div class="center">
    <h3>New Contact</h3>

    <form [formGroup]="createContactForm" (ngSubmit)="onSubmit(createContactForm.value)">

        <label>Name:</label>
        <input id="name" formControlName="name" />

        <label>Numbers:<i (click)="addInput()" id="add-number" class="material-icons" >add_circle_outline</i></label>
        <div formGroupName="phoneBook">
            <input type="number" formControlName="houseNumber" placeholder="house number"/>
        
            <div *ngIf="numInputs > 0">
                <input type="number" formControlName="{{ mobileNumber }}" placeholder="mobile number">
                <i (click)="removeInput()" id="remove-number" class="material-icons" >remove_circle_outline</i>
            </div>
        </div>
    

        <label>E-Mail:</label>
        <input id="email" formControlName="email" />

        <label></label>
        <input type="submit" value="Submit"/>

    </form>

</div>