<div class="center">
    <h3>Edit Contact</h3>

    <div *ngIf="contact">

        <label>Name:</label>
        <input id="name" [(ngModel)]="contact.name"  placeholder="-"/>

        <label>Number:</label>
        <input id="number"  [(ngModel)]="contact.number" placeholder="-"/>

        <label>E-Mail:</label>
        <input id="email" [(ngModel)]="contact.email" placeholder="-"/>

        <label></label>
        <input type="submit" value="Update" (click)="onSubmitUpdate()"/>
        <input (click)="onSubmitDelete()" id="delete" type="submit" value="Delete"/>

    </div>

</div>