/* Buttons */

input[type=submit] {
    background-color: #e68521;
}

#delete {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background-color: #e62121;
    color: white;
    border: none;
}

i {
    cursor: pointer;
    color: rgb(48, 206, 48);
}