/* Cemter Container */
.inner-container {
    outline: 1px solid black;
    outline-offset: 1.9em;
}

/* Buttons */

input[type=submit] {
    background-color: #e68521;
}

#delete {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background-color: #e62121;
    color: white;
    border: none;
}

#add-number {
    cursor: pointer;
    color: rgb(48, 206, 48);
}

#remove-number {
    cursor: pointer;
    color: red;
}