:host {
    display: inline;
    overflow: auto;
}

.contact-form {
 
}
/* Cemter Container */
.inner-container {
    /* outline: 1px solid black; */
    /* outline-offset: 1.9em; */
}

/* Input Fields */

input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* Edit Button */

input[type="submit"] {
    background-color: #2edc34;
}

/* Back Button */ 

input[type=button] {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(144, 144, 144, 0.472);
    border: none;
    color: white;
}

