<div class="center">
    <h3>Contact Details</h3>

    <div *ngIf="contact">

        <label>Name:</label>
        <input id="name" value="{{ contact.name }}" placeholder="-" readonly/>

        <label>Number:</label>
        <input id="number"  value="{{ contact.number }}" placeholder="-" readonly/>

        <label>E-Mail:</label>
        <input id="email" value="{{ contact.email }}" placeholder="-" readonly/>

        <label></label>
        <input type="submit" [routerLink]="['/contacts/update/', id]" value="Edit"/>

    </div>

</div>