<div class="contact-form" *ngIf="contact">
    <div class="inner-container">
        <h3>Contact Details</h3>

        <div *ngIf="contact">

            <label>Name:</label>
            <input id="name" value="{{ contact.getName() }}" placeholder="-" readonly />

            <label>Numbers</label>
            <div>
                <div *ngFor="let number of contact.getPhoneBook().getNumbers()">
                    <div *ngIf="number">
                        <input type="text" value="{{ number }}" placeholder="phone number" readonly>
                    </div>
                </div>
            </div>
            <label>E-Mail:</label>
            <input id="email" value="{{ contact.getEmail() }}" placeholder="-" readonly />

            <label></label>
            <input type="submit" [routerLink]="['/contacts/update/', id]" value="Edit" />
            <input (click)="goBack()" type="button" value="Back" />

        </div>
    </div>


</div>