<div class="center" *ngIf="contact">
    <h3>Contact Details</h3>

    <div *ngIf="contact">

        <label>Name:</label>
        <input id="name" value="{{ contact.name }}" placeholder="-" readonly/>

        <label>Numbers</label>
        <div>        
            <div *ngFor="let key of Object.keys(contact.numbers)">
                <input type="number" value="{{ contact.numbers[key] }}" placeholder="phone number" readonly>
            </div>
        </div>
        <label>E-Mail:</label>
        <input id="email" value="{{ contact.email }}" placeholder="-" readonly/>

        <label></label>
        <input type="submit" [routerLink]="['/contacts/update/', id]" value="Edit"/>
        <input (click)="goBack()" type="button" value="Back"/>

    </div>

</div>