* {
  font-family: Lato;
}

.center {
  width:400px;
  height:400px;
  position:absolute;
  top:50%;
  left:52%;
  margin-left:-210px; /* width / -2 */
  margin-top:-270px; /* height / -2 */
}

 /* Input */

input {
  font-size: 14px;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
  font-size: 19px;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

input[type=submit] {
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none;
}
