/* You can add global styles to this file, and also import other style files */

/* Button */

.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }

/* Fancy Button */

.fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }

/* Toolbar  */

.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    font-weight: 600;
    padding: 0 1% 0 1%;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  
  .spacer {
    flex: 1;
  }

  a {
    text-decoration: none;
  }

  .material-icons {
      color: white;
  }
  
  /* Contacts Title */

  #contacts-title {
      padding-left: 0.5em;
      font-size: 2em;
      color: white;
      
  }
